1. Bajar el CSV de Oferta Gastronómica desde Buenos Aires Data (https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ente-de-turismo/oferta-establecimientos-gastronomicos/oferta_gastronomica.csv). Idealmente hacer esto con Python.
2. Crear una tabla con los siguientes campos: id_local, nombre, categoria, direccion, barrio, comuna, para posteriormente poblarla con los datos bajados, utilzando el conector desde el script de Python.

In [56]:
import pandas as pd
import pymysql

In [57]:
url = "https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ente-de-turismo/oferta-establecimientos-gastronomicos/oferta_gastronomica.csv"

In [58]:
oferta_gastronomica = pd.read_csv(url)
oferta_gastronomica.drop(["long", "lat", "cocina", "ambientacion", "telefono", "mail", "horario", "codigo_postal", "calle_nombre", "calle_altura", "calle_cruce", "codigo_postal_argentino"], inplace = True, axis=1)
oferta_gastronomica

,id,nombre,categoria,direccion_completa,barrio,comuna
0,1602,GUANTANAMERA,RESTAURANTE,"MOREAU DE JUSTO, ALICIA AV. 2092",Puerto Madero,Comuna 1
1,676,1843 VINACOTECA,VINERIA,HUMBERTO 1º 1843,San Cristobal,Comuna 3
2,487,2080 EXPRESS,RESTAURANTE,JURAMENTO AV. 2080,Belgrano,Comuna 13
3,2737,22,CAFE,MURGUIONDO 4188,Villa Lugano,Comuna 8
4,2,4 EN 2 I,RESTAURANTE,"BORGES, JORGE LUIS 2095",Palermo,Comuna 14
...,...,...,...,...,...,...
2818,893,ZOE PIZZA & CAFE,RESTAURANTE,AZCUENAGA 796,Balvanera,Comuna 3
2819,2546,ZOMBI,RESTAURANTE,URUGUAY 142,San Nicolas,Comuna 1
2820,1521,ZONA,RESTAURANTE,11 DE SEPTIEMBRE DE 1888 3900,NuÃƒÂ±ez,Comuna 13
2821,894,ZOO BAR,RESTAURANTE,TUCUMAN 2002,Balvanera,Comuna 3
2822,2854,Angelito,BAR,NaN,Villa Crespo,Comuna 15

In [59]:
oferta_gastronomica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2823 non-null   int64
 1   nombre              2823 non-null   object
 2   categoria           2707 non-null   object
 3   direccion_completa  2822 non-null   object
 4   barrio              2823 non-null   object
 5   comuna              2823 non-null   object
dtypes: int64(1), object(5)
memory usage: 132.5+ KB

In [60]:
oferta_gastronomica = oferta_gastronomica.loc[oferta_gastronomica["categoria"].notna()]
oferta_gastronomica.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2707 entries, 0 to 2822
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2707 non-null   int64
 1   nombre              2707 non-null   object
 2   categoria           2707 non-null   object
 3   direccion_completa  2706 non-null   object
 4   barrio              2707 non-null   object
 5   comuna              2707 non-null   object
dtypes: int64(1), object(5)
memory usage: 148.0+ KB

In [61]:
oferta_gastronomica.head()

,id,nombre,categoria,direccion_completa,barrio,comuna
0,1602,GUANTANAMERA,RESTAURANTE,"MOREAU DE JUSTO, ALICIA AV. 2092",Puerto Madero,Comuna 1
1,676,1843 VINACOTECA,VINERIA,HUMBERTO 1º 1843,San Cristobal,Comuna 3
2,487,2080 EXPRESS,RESTAURANTE,JURAMENTO AV. 2080,Belgrano,Comuna 13
3,2737,22,CAFE,MURGUIONDO 4188,Villa Lugano,Comuna 8
4,2,4 EN 2 I,RESTAURANTE,"BORGES, JORGE LUIS 2095",Palermo,Comuna 14

In [62]:
nombre = oferta_gastronomica["nombre"]
categoria = oferta_gastronomica["categoria"]
direccion = oferta_gastronomica["direccion_completa"]
barrio = oferta_gastronomica["barrio"]
comuna = oferta_gastronomica["comuna"]
entradas = [nombre, categoria, direccion, barrio, comuna]

In [63]:
conexion = pymysql.connect(
    host="localhost",
    user = "root",
    password = "root"
)

In [64]:
cursor = conexion.cursor()

In [65]:
crear_db = "create database if not exists gastro"
cursor.execute(crear_db)

1

In [66]:
cursor.execute("use gastro")

0

In [68]:
create_table = """create table locales (nombre varchar(50) not null, categoria varchar(30), direccion varchar(200), barrio varchar(100), comuna varchar(20))"""
cursor.execute(create_table)

OperationalError: (1050, "Table 'locales' already exists")

In [ ]:
query = "INSERT INTO gastronomia(nombre, categoria, direccion, barrio, comuna) VALUES (%s,%s,%s,%s,%s)"
cursor.executemany(query, entradas)

TypeError: not enough arguments for format string

¿Cuál es el barrio con mayor cantidad de Pubs?

Obtener la cantidad de locales por categoría

Obtener la cantidad de restaurantes por comuna